<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="moduleTypeSpec" value="BGU.DRPL.SignificantOwnership.UI.Modules.BasicUIModule, BGU.DRPL.SignificantOwnership.UI"/>
    <add key="rcuKruPath" value="rcukru.dbf"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
