<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.data>
    <DbProviderFactories>
       <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient1" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--<add name="dummydbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=dummydb;Integrated Security=True;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />-->
    <!--<add name="dbRuthenorumPR360SourceNewsContext" connectionString="Data Source=inozmi.ruthenorum.info\sqlexpress;Initial Catalog=dbRuthenorumPR360SourceNews;Persist Security Info=True;User ID=sa;Password=SaoJoaoDo9;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="dummydbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=dummydb;Persist Security Info=True;User ID=sysruthdev;Password=A123456;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <add name="dummydbContext" connectionString="Data Source=.\SQLEXPRESS;Database=dummydb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <!--<add name="dummydbContext" connectionString="Data Source=inozmi.ruthenorum.info\SQLEXPRESS;Initial Catalog=dummydb;Persist Security Info=True;User ID=sa;Password=SaoJoaoDo9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dummydbContext" connectionString="Data Source=.\SQLEXPRESS;Database=dummydb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <!-- dummydbContextMySql -->
    <!--<add name="dummydbContext" connectionString="Server=127.0.0.1;Database=dummydb;Uid=root;Pwd=Asempra123;" providerName="MySQL Data Provider"/>-->
    <!--<add name="dummydbContext" connectionString="Server=127.0.0.1;Database=dummydb;Uid=root;Pwd=Asempra123;" providerName="MySql.Data.MySqlClient"/>-->
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
