<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="edataLogDebugEvents" value="true" />
    <add key="edataMakePauses" value="true" />
    <add key="edataPauseBatchSize" value="100" />
    <add key="edataPauseLengthSecs" value="10"/>
    <add key="edataPauseAfterEveryEntryMSecs" value="50"/>
    <add key="edataPauseOnHttpErrorSecs" value="60"/>
  </appSettings>
</configuration>