<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="xsdExePath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\NETFX 4.0 Tools\x64\xsd.exe"/>
    <add key="xsdFilesOutputDir" value="D:\home\vmdrot\HaErez\BGU\Var\SignificantOwnership\XMLs\XSDs"/>
    <add key="origXsdFilesOutputDir" value="D:\home\vmdrot\HaErez\BGU\Var\SignificantOwnership\XMLs\XSDs\bkp"/>
    <add key="xsdUkUAPutDispNmDescr2Annot" value="false"/>
    <add key="xmlFormatterPathRel" value="..\..\..\3dPartyLibraries\Evolvex\XmlFormatter.exe"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
